<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.CatchMapper">
    <cache />
   <sql id="empColumn" >
       emp_id,emp_name,age,gender
   </sql>
    
    <!--void getEmpById(@Param("empId")int empId);-->
    <select id="getEmpById" resultType="pojo.Employee">
        select <include refid="empColumn"/> from t_emp where emp_id = #{empId}
    </select>
</mapper>