<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>userList</title>
</head>
<body>
<table>
    <tr>
        <th>id</th>
        <th>username</th>
        <th>password</th>
        <th>gender</th>
        <th>email</th>
        <th colspan="2">operation</th>
    </tr>
    <tr th:each="user:${page.list}" >
        <td th:text="${user.getId()}"></td>
        <td th:text="${user.getUsername()}"></td>
        <td th:text="${user.getPassword()}"></td>
        <td th:text="${user.getGender()}"></td>
        <td th:text="${user.getEmail()}"></td>
        <td>
            <form method="post" th:action="@{'/user/' + ${page.pageNum}+'/'+ ${user.id}}">
                <input type="hidden"  name="_method" value="update"/>
                <input type="submit" value="修改">
            </form>
            <form method="post" th:action="@{'/user/' + ${page.pageNum}+'/'+ ${user.id}}">
                    <input type="hidden"  name="_method" value="delete"/>
                    <input type="submit" value="删除">
            </form>
        </td>
    </tr>
</table>
</body>
</html>