<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>


    <!--
        标签要按照以下顺序：
        (properties?,settings?,typeAliases?,typeHandlers?,objectFactory?,objectWrapperFactory?,reflectorFactory?,plugins?,environments?,databaseIdProvider?,mappers?)
     -->

    <properties resource="jdbc.properties"/>



    <settings>
        <!--将下滑线映射为驼峰-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!--延迟加载的全局开关,默认为false关闭。当开启时，所有关联对象都会延迟加载-->
        <setting name="lazyLoadingEnabled" value="true"/>
        <!--完整加载的全局开关，默认为false关闭，为按需加载。当开启时，任何方法的调用都会加载该对象的所有属性。否则，每个属性会按需加载-->
        <setting name="aggressiveLazyLoading" value="true"/>
    </settings>

    <environments default="environment">
        <environment id="environment">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>


    <mappers>
        <package name="mapper"/>
    </mappers>


</configuration>