<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p1>你好！！！！！！</p1>
<!--<a href="/href"> 如果这样写，路径将会由浏览器解析，解析为http://localhost:3080/hello   -->

<a th:href="@{/success/1}"><br/>测试thymeleaf渲染之后的路径</a><br/><!-- 右边这样写就会被thymeleaf渲染，缺什么补什么，渲染之后路径为：http://localhost:3080/工程路径/hello -->
<a th:href="@{/testone}">测试获取请求头信息</a><br/>
<a th:href="@{/testtwo}">测试获取cookie信息</a><br/>
<a th:href="@{/testpojo(userName='张四',age='12')}">测试拿一个实体类来接收参数</a>
<a th:href="@{/testfour}">测试post请求乱码问题</a>
</body>
</html>