<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
<a th:href="@{/employee}">查询全部员工信息</a><br/>
<div id="app">
    <input type="button" value="测试ajax请求通过@RequestBody获取请求中json数据"  @click = "testRequestBody">
    <input type="button" value="测试ajax请求通过@ResponseBody响应json数据"  @click = "testResponseBody">
</div>
<div id ="app2">
</div>

<a th:href="@{/down}">图片下载</a><br/>

<form method="post" th:action="@{/up}" enctype="multipart/form-data">
    图片上传：<input type="file"  name="photo" value="请选择一个图片">
              <input type="submit" value="上传"><br/>
</form>

<script type="text/javascript" th:src="@{/js/vue.js}"></script>
<script type="text/javascript" th:src="@{/js/axios.min.js}"></script>
<script type="text/javascript">
    var vue = new Vue({
        el:"#app",
        methods:{
            testRequestBody(){
                axios.post(
                    "/SpringMVC/ajax/axios",
                    {username:"张三",password:"1234"},
                ).then(response=>{
                    console.log(response.data)
                    document.getElementById("app2").innerText = response.data
                })
            },
            testResponseBody(){
                axios.post(
                    "/SpringMVC/ajax/responsebody"
                ).then(response=>{
                    document.getElementById("app2").innerText = response.data
                })
            }
        }
    })
</script>
</body>
</html>