<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>update</title>
</head>
<body>
<form th:action="@{/employee}" method="post">
    <input type="hidden" name="_method" value="put">
    <input type="hidden" name="id" th:value="${employee.id}">
    lastName：<input type="text" name="lastName" th:value="${employee.lastName}"><br/>
    gender：  <input type="text" name="gender" th:value="${employee.gender}"><br/>
    email：   <input type="text" name="email" th:value="${employee.email}"><br/>
    <input type="submit" value="提交">
</form>
</body>
</html>