<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>


    <!--
        标签要按照以下顺序：
        (properties?,settings?,typeAliases?,typeHandlers?,objectFactory?,objectWrapperFactory?,reflectorFactory?,plugins?,environments?,databaseIdProvider?,mappers?)
     -->

    <!--引入jdbc的properties的配置文件，访问properties中的数据以${key}的形式访问-->
    <properties resource="jdbc.properties"/>




    <!--
        typeAliases是用来给某一个全类名起别名的，起的别名会在整个mybatis的范围内生效
    -->
    <typeAliases>
        <!--
            type:被起别名的全类名
            alias:别名
            <typeAlias type="pojo.User"/>这里的alias可以不设置，不设置的默认别名为类名且不区分大小写
        -->
        <typeAlias type="pojo.User" alias="user"/>
        <!-- 通过包名来设置别名，则指定包名下的所有类名都拥有默认别名 -->
        <package name="pojo"/>
    </typeAliases>





    <!--
          environments用于配置连接数据库的环境
          default属性：用来设置默认的数据连接环境
    -->
    <environments default="properties">
        <environment id="development">
            <!--
                transactionManager:设置事务管理器
                属性：
                type:设置事务管理机制
                type="JDBC/MANAGED"
                JDBC:使用JDBC原生的事务管理方式
                MANAGED:表管理的，例如Spring
            -->
            <transactionManager type="JDBC"/>
            <!--
                dataSource:数据源
                属性：type 设置数据源类型
                type:"POOLED/UNPOOLED/JNDI"
                POOLED:表述使用数据库连接池
                UNPOOLED:表示不使用数据库连接池
                JNDI:表示使用上下文的数据源

            -->
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/study2?serverTimezone=UTC"/>
                <property name="username" value="root"/>
                <property name="password" value="111111"/>
            </dataSource>
        </environment>




        <environment id="properties">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>



    <!-- 引入mybatis的核心映射文件 -->
    <mappers>
        <!--<mapper resource="mapper/UserMapper.xml"/>-->

        <!--
            以包名的方式引入配置文件，必须满足以下两种条件
             1.mapper接口的包和映射配置文件的包所在的包必须一致
             2.mapper接口的名字和映射配置文件的名字必须一致

            注：mapper接口的包和配置文件的包虽然不在同一目录下，但是在加载之后的文件是在同一个目录之下的。
        -->
        <package name="mapper"/>
    </mappers>


</configuration>